body {
    width: 10em;
}

section {
    margin-bottom: 0.5em;
}

section:last-child {
    margin-bottom: 0;
}

.row {
    flex-basis: content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: content;
}

h1 {
    flex-shrink: 5;
    padding: 0;
}

p {
    padding: 0;
}
