body {
    width: 10em;
    margin: auto;
}

p, h1 {
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    margin: 0.5em auto;
}

button {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
}
