body {
    width: 17em;
}

section {
    margin-bottom: 0.5em;
}

section:last-child {
    margin-bottom: 0;
}

.row {
    flex-basis: content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    padding: 0;
    margin: 0;
}

#case-select {
    text-align: center;
    text-align-last: center;
    margin: 0;
    width: 75%;
}

#header {
    padding: 0;
    margin: 0;
    margin-top: 0.3em;
}

#num_places {
    padding: 0;
    margin: 0;
}

#bytes {
    padding: 0;
    margin: 0;
}
